

@keyframes ldio-m1zfhmx3kb {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-m1zfhmx3kb div {
  position: absolute;
  animation: ldio-m1zfhmx3kb 0.5700000000000001s linear infinite;
  width: 168px;
  height: 168px;
  top: 21px;
  left: 21px;
  border-radius: 50%;
  box-shadow: 0 4.2px 0 0 #0058a3;
  transform-origin: 84px 86.10000000000001px;
}
.loadingio-spinner-eclipse-6aglxucdwqp {
  width: 210px;
  height: 210px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-m1zfhmx3kb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-m1zfhmx3kb div { box-sizing: content-box; }

